@model AnimalShelter.Models.Employee.Employee

@{
    ViewData["Title"] = "Get Employee ById";
}

<h1>Get Employee By Id</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Employee Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class = "col-sm-10">
            @foreach (var item in Model.EmployeePhotos ?? throw new Exception())
            {
                        <img src="@item.Photo" alt="image Employee" style="border-radius:50%; max-height:250px;">
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "UpdateEmployee", new { id = Model.EmployeeId }) |
    <a asp-action="GetAllEmployee">Back to List</a>
</div>
