@model IEnumerable<AnimalShelter.Models.Employee.EmployeePhoto>

@{
    ViewData["Title"] = "Get All Employee Photo";
}

<h1>Get All Employee Photo</h1>

<p>
    <a asp-action="AddPhotoEmployee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteEmployeePhoto","EmployeePhoto", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
